@import url("theme.css");

.wy-nav-content-wrap {
    background: rgba(0, 0, 255, 1) none repeat scroll 0% 0%;
        background-color: rgba(0, 0, 0, 0.05);
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-position: 0% 0%;
        background-clip: border-box;
        background-origin: padding-box;
        background-size: auto auto;
}
.wy-nav-side {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    padding-bottom: 2em;
    width: 300px;
    overflow: hidden;
    min-height: 100%;
    background: #343131 none repeat scroll 0% 0%;
    z-index: 200;
}
.wy-nav-content-wrap {
    margin-left: 300px;
    background: #343131 none repeat scroll 0% 0%;
    min-height: 100%;
}

.wy-side-nav-search {
    width: 300px;
    z-index: 200;
    background-color: #343131;
    text-align: center;
    padding: 0.809em;
    display: block;
    color: #343131;
    margin-bottom: 0.809em;
}
